.essay-p
{
    text-align:justify;
    font-size: 1.2rem;
    font-weight: normal;
}

.p-justify
{
    text-align:justify;
}

li
{
    margin: 5px 0;
}

#blue_s
{
    color: #000080;
}

.verde
{
    color: #198754;
}

#quote
{
    background-color:#303030;
}
